<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
   xmlns="http://java.sun.com/xml/ns/javaee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
   version="2.5">
    <servlet>
    <servlet-name>XQuery</servlet-name>
    <servlet-class>org.basex.web.servlet.impl.XQuery</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>HTML</servlet-name>
    <servlet-class>org.basex.web.servlet.impl.Html</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XQuery</servlet-name>
    <url-pattern>*.xqy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XQuery</servlet-name>
    <url-pattern>*.xq</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HTML</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HTML</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  
</web-app>
